<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: admin(~{::mainAdmin})}"></html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha384-GLhlTQ8iSVPKgU99n3UJCEs5x9I8FqUKGCD8BPd2Q/6UJ1/6Z5aZ5Aiz+Kx4+pc4" crossorigin="anonymous">
</head>
<body>
<div th:fragment="mainAdmin" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <img th:src="${albums == null?'/assets/img/placeholder/placeholderMusic.png':albums.image}"
                                     class="img-fluid w-100" alt="">
                            </div>
                            <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                                <div class="music-detail">
                                    <h3 th:text="${albums.title}"></h3>
                                    <span></span>
                                    <p class="mb-0" th:text="${'Singer : ' +  albums.singer.singerFullName}"></p>
                                </div>
                                <div class="music-right">
                                    <div class="d-flex align-items-center">

                                        <!--                                        <div class="iq-circle mr-2"><a th:data-name="${singer.singerId}"-->
                                        <!--                                                                       th:onclick="favorite(this.getAttribute('data-name'))"><i-->
                                        <!--                                                style="color: red"-->
                                        <!--                                                id="heart-icon"-->
                                        <!--                                                th:class="${isFavorite?'ri-heart-fill':'ri-heart-line'} "></i></a></div>-->
                                        <!--                                        <div class="iq-circle">-->
                                        <!--                                            <a th:data-name="${song.songId}" th:href="${song.getUrl()}"-->
                                        <!--                                               th:onclick="downloadSong(this.getAttribute('data-name'))">-->
                                        <!--                                                <i class="las la-download text-primary"></i>-->
                                        <!--                                            </a>-->
                                        <!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <ul class="list-unstyled iq-music-slide mb-0">
                            <li class="mb-3" th:each="song: ${albumsSong}">
                                <div class="d-flex justify-content-between align-items-center row">
                                    <div class="media align-items-center col-10 col-md-5">
                                        <div class="iq-realese-song ">
                                            <a href="javascript:void(0);"><img
                                                    th:src="${song.image}"
                                                    class="img-border-radius avatar-60 img-fluid" alt=""></a>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="mb-0" th:text="${song.title}"></p>
                                            <small th:text="${song.singer.singerFullName}"></small>
                                        </div>
                                    </div>
                                    <p class="mb-0 col-md-2 col-md-2 iq-music-time" th:text="${song.duration}"></p>
                                    <p th:onclick="'loadTrack(' + ${song.songId} + ')'"
                                       class="mb-0 col-2 col-md-2 iq-music-play"><i
                                            class="las la-play-circle font-size-32"></i></p>
                                    <div class="iq-card-header-toolbar iq-music-drop d-flex align-items-center col-2 col-md-1">
                                        <div class="dropdown">
                                             <span class="dropdown-toggle text-primary" id="dropdownMenuButton2"
                                                   data-toggle="dropdown" aria-expanded="false" role="button">
                                                <i class="ri-more-2-fill text-primary"></i>
                                             </span>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton2" style="">
                                                <a class="dropdown-item" th:href="${song.url}"><i
                                                        class="ri-file-download-fill mr-2"></i>Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>