<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: admin(~{::mainAdmin})}"></html>
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
</head>
<body>
<div th:fragment="mainAdmin" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Trending Songs</h4>
                        </div>
                        <div class="d-flex align-items-center iq-view">
                            <b class="mb-0 text-primary"><a href="allSong">View More <i class="las la-angle-right"></i></a></b>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="list-unstyled row iq-box-hover mb-0">
                            <li class="col-xl-2 col-lg-3 col-md-4 iq-music-box" th:each="song : ${songs}">
                                <div class="iq-card">
                                    <div class="iq-card-body p-0">
                                        <div class="iq-thumb" th:onclick="'loadTrack(' + ${song.songId} + ')'">
                                            <div class="iq-music-overlay"></div>
                                            <a>
                                                <img th:src="@{${song.image}}" class="img-border-radius img-fluid w-100"
                                                     alt=""/>
                                            </a>
                                            <div class="overlay-music-icon">
                                                <a th:onclick="'loadTrack(' + ${song.songId} + ')'">
                                                    <i class="las la-play-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="feature-list text-center">
                                            <h6 class="font-weight-600 mb-0">
                                                <a th:href="@{/song-detail/{songId}(songId=${song.songId})}"
                                                   th:text="${song.title}">
                                                </a>
                                            </h6>
                                            <p class="font-weight-100 mb-0">
                                                <a th:href="@{/singer-detail/{singerId}(singerId=${song.singer.singerId})}"
                                                   th:text="${song.singer.singerFullName}">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Singer</h4>
                        </div>
                        <div class="d-flex align-items-center iq-view">
                            <b class="mb-0 text-primary"><a href="albums.html">View More <i
                                    class="las la-angle-right"></i></a></b>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="list-unstyled row  iq-box-hover mb-0">
                            <li class="col-xl-2 col-lg-3 col-md-4 iq-music-box" th:each="singer : ${singers}">
                                <div class="iq-card">
                                    <div class="iq-card-body p-0">
                                        <div class="iq-thumb">
                                            <a th:href="@{/singer-detail/{singerId}(singerId=${singer.singerId})}">
                                                <div class="iq-music-overlay"></div>
                                                <img th:src="@{${singer.image}}"
                                                     class="img-border-radius img-fluid w-100" alt=""/>
                                            </a>
                                        </div>
                                        <div class="feature-list text-center">
                                            <p class="font-weight-100 mb-0">
                                                <a th:href="@{/singer-detail/{singerId}(singerId=${singer.singerId})}"
                                                   th:text="${singer.singerFullName}">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Albums</h4>
                        </div>
                        <div class="d-flex align-items-center iq-view">
                            <b class="mb-0 text-primary"><a href="#">View More <i
                                    class="las la-angle-right"></i></a></b>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="list-unstyled row  iq-box-hover mb-0">
                            <li class="col-xl-2 col-lg-3 col-md-4 iq-music-box" th:each="album : ${albums}">
                                <div class="iq-card">
                                    <div class="iq-card-body p-0">
                                        <div class="iq-thumb">
                                            <a th:href="@{/album-detail/{albumId}(albumId=${album.albumId})}">
                                                <div class="iq-music-overlay"></div>
                                                <img th:src="@{${album.image}}"
                                                     class="img-border-radius img-fluid w-100" alt=""/>
                                            </a>
                                        </div>
                                        <div class="feature-list text-center">
                                            <p class="font-weight-100 mb-0">
                                                <a th:href="@{/album-detail/{albumId}(albumId=${album.albumId})}"
                                                   th:text="${album.title}">
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>