<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ZingMp3 - Management</title>
    <!-- Favicon -->
    <link rel="shortcut icon"  th:href="@{|/assets/admin/images/favicon.ico|}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"  th:href="@{|/assets/admin/css/bootstrap.min.css|}">
    <!-- Typography CSS -->
    <link rel="stylesheet"  th:href="@{|/assets/admin/css/typography.css|}">
    <!-- Style CSS -->
    <link rel="stylesheet"  th:href="@{|/assets/admin/css/style.css|}">
    <!-- Responsive CSS -->
    <link rel="stylesheet"  th:href="@{|/assets/admin/css/responsive.css|}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-md-6 col-sm-12 col-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="d-flex justify-content-center">
                        <div class="sign-user_logo">
                            <img src="images/login/user.png" class=" img-fluid" alt="Logo">
                        </div>
                    </div>
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 pt-5 m-auto">
                            <h1 class="mb-3 text-center">Sign in</h1>
                            <h3 class="mb-3 text-center text-white">[[${message}]]</h3>
                            <a class="btn btn-lg btn-danger " th:href="@{/oauth2/authorization/google}">
                                Continue with Google <span class="fa fa-google"></span>
                            </a>
                            <form class="mt-4" action="/auth/login/form" method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Email address</label>
                                    <input type="email" class="form-control mb-0" id="exampleInputEmail2" name="email" placeholder="Enter email" >
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword2">Password</label>
                                    <input type="password" class="form-control mb-0" id="exampleInputPassword2" name="password" placeholder="Password" >
                                </div>
                                <div class="sign-info">
                                    <button type="submit" class="btn btn-primary mb-2">Sign in</button>
                                </div>
                                <div class="d-inline-block w-100">
                                    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1"name="remember">
                                        <label class="custom-control-label" for="customCheck1">Remember Me</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-center links">
                            Don't have an account? <a href="/auth/register" class="ml-2">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center links">
                            <a href="/auth/forgot-password">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign in END -->
        <!-- color-customizer -->
    </div>
</section>
<script  th:src="@{|/assets/admin/js/jquery.min.js|}"></script>
<script th:src="@{|/assets/admin/js/popper.min.js|}"></script>
<script th:src="@{|/assets/admin/js/bootstrap.min.js|}"></script>
<!-- Appear JavaScript -->
<script th:src="@{|/assets/admin/js/jquery.appear.js|}"></script>
<!-- Countdown JavaScript -->
<script th:src="@{|/assets/admin/js/countdown.min.js|}"></script>
<!-- Counterup JavaScript -->
<script th:src="@{|/assets/admin/js/waypoints.min.js|}"></script>
<script th:src="@{|/assets/admin/js/jquery.counterup.min.js|}"></script>
<!-- Wow JavaScript -->
<script th:src="@{|/assets/admin/js/wow.min.js|}"></script>
<!-- Apexcharts JavaScript -->
<script th:src="@{|/assets/admin/js/apexcharts.js|}"></script>
<!-- Slick JavaScript -->
<script th:src="@{|/assets/admin/js/slick.min.js|}"></script>
<!-- Select2 JavaScript -->
<script th:src="@{|/assets/admin/js/select2.min.js|}"></script>
<!-- Owl Carousel JavaScript -->
<script th:src="@{|/assets/admin/js/owl.carousel.min.js|}"></script>
<!-- Magnific Popup JavaScript -->
<script th:src="@{|/assets/admin/js/jquery.magnific-popup.min.js|}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script th:src="@{|/assets/admin/js/smooth-scrollbar.js|}"></script>
<!-- lottie JavaScript -->
<script th:src="@{|/assets/admin/js/lottie.js|}"></script>
<!-- am core JavaScript -->
<script th:src="@{|/assets/admin/js/core.js|}"></script>
<!-- am charts JavaScript -->
<script th:src="@{|/assets/admin/js/charts.js|}"></script>
<!-- am animated JavaScript -->
<script th:src="@{|/assets/admin/js/animated.js|}"></script>
<!-- am kelly JavaScript -->
<script th:src="@{|/assets/admin/js/kelly.js|}"></script>
<!-- am maps JavaScript -->
<script th:src="@{|/assets/admin/js/maps.js|}"></script>
<!-- am worldLow JavaScript -->
<script th:src="@{|/assets/admin/js/worldLow.js|}"></script>
<!-- Raphael-min JavaScript -->
<script th:src="@{|/assets/admin/js/raphael-min.js|}"></script>
<!-- Morris JavaScript -->
<script th:src="@{|/assets/admin/js/morris.js|}"></script>
<!-- Morris min JavaScript -->
<script th:src="@{|/assets/admin/js/morris.min.js|}"></script>
<!-- Flatpicker Js -->
<script th:src="@{|/assets/admin/js/flatpickr.js|}"></script>
<!-- Style Customizer -->
<script th:src="@{|/assets/admin/js/style-customizer.js|}"></script>
<!-- Chart Custom JavaScript -->
<script th:src="@{|/assets/admin/js/chart-custom.js|}"></script>
<!-- Music js -->
<script th:src="@{|/assets/admin/js/music-player.js|}"></script>
<!-- Music-player js -->
<script th:src="@{|/assets/admin/js/music-player-dashboard.js|}"></script>
<!-- Custom JavaScript -->
<script th:src="@{|/assets/admin/js/custom.js|}"></script>
<script th:src="@{|/assets/javascript/UI/adminUI.js|}"></script>
<script th:src="@{|/assets/javascript/CRUD/song_CRUD.js|}"></script>
<script th:src="@{|/assets/javascript/api/songAPI.js|}"></script>
<script th:src="@{|/assets/javascript/api/general.js|}"></script>
<script th:src="@{|/assets/admin/js/dateUtil.js|}"></script>
<script th:src="@{|/assets/admin/js/pageLoader.js|}"></script>
<script th:src="@{|/assets/admin/js/data.js|}"></script>
</body>
</html>