<!DOCTYPE html>
<html lang="en" th:replace="~{/common/layout :: dynamic(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="main">
    <div class="main-container">
        <div class="profile">
            <img alt="avata" class="profile__img" th:src="@{|/assets/img/mv/${(authors.avatar) == null ? '1.webp' : authors.avatar|}">
            <span class="profile__name js__main-color" th:text="${authors.fullName}"></span>
            <div class="grid row">
                <!--            san pham-->
                <div class="col l-4 m-6 s-6" th:each="song:${songs}">
                    <div class="songs-item js__song-item1">
                        <div class="songs-item-left">
                            <div class="songs-item-left-img js__songs-item-left-img-1"
                                 th:style="'background-image: url(/assets/img/songs/'+${song.getImage()}+');'">
                                <div class="songs-item-left-img-playbtn"><i class="fas fa-play"></i></div>
                                <div class="songs-item-left-img-playing-box">
                                    <img alt="playing" class="songs-item-left-img-playing"
                                         src="/assets/img/songs/icon-playing.gif">
                                </div>
                            </div>

                            <div class="songs-item-left-body">
                                <h3 class="songs-item-left-body-name js__main-color" th:text="${song.title}"></h3>
                                <span class="songs-item-left-body-singer js__sub-color"
                                      th:text="${song.author.fullName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>