<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: admin(~{::mainAdmin})}"></html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="mainAdmin" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <img th:src="${song == null?'/assets/img/placeholder/placeholderMusic.png':song.image}"
                                     class="img-fluid w-100" alt="">
                            </div>
                            <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                                <div class="music-detail">
                                    <h3 th:text="${song.title}"></h3>
                                    <span></span>
                                    <p class="mb-0" th:text="${song.quantity} + ' View'"></p>
                                    <p class="mb-0" th:text="${song.download} + ' Download'"></p>
                                    <p th:text="${song.description}"></p>
                                </div>
                                <div class="music-right">
                                    <div class="d-flex align-items-center">
                                        <div class="iq-circle mr-2"><a th:data-name="${song.songId}" th:onclick="favorite(this.getAttribute('data-name'))"><i
                                                class="ri-heart-fill  text-primary"></i></a></div>
                                        <div class="iq-circle">
                                                <a th:data-name="${song.songId}" th:href="${song.getUrl()}" th:onclick="downloadSong(this.getAttribute('data-name'))">
                                                <i class="las la-download text-primary"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>