<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="aside">
  <!-- theme modal -->
  <!-- theme-modal--avtive -->
  <div class="theme-modal">
    <div class="theme-modal__overlay"></div>
    <div class="theme-modal__body">
      <div class="theme-modal__close-btn">
        <i class="fas fa-times"></i>
      </div>
      <h3 class="theme-modal__body-headding js__main-color">Giao diện</h3>
      <div class="theme-modal__body-group-wrapper">
        <div class="theme-modal__body-group">
          <span class="theme-modal__body-group-headding js__main-color">Chủ đề</span>
          <ul class="theme-modal__body-group-list">
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme1/theme1.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Zing Music Awards</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme1/theme2.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Tháp Eiffel</span>
            </li>
          </ul>
        </div>

        <div class="theme-modal__body-group">
          <span class="theme-modal__body-group-headding js__main-color">Nghệ Sĩ</span>
          <ul class="theme-modal__body-group-list">
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme2/theme1.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Rosé</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme2/theme2.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">IU</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img-wrapper">
                  <div class="theme-modal__body-group-item-img"
                       style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme2/theme3.jpg)"></div>
                </div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Ji Chang Wook</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img-wrapper">
                  <div class="theme-modal__body-group-item-img"
                       style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme2/theme4.jpg)"></div>
                </div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Lisa</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme2/theme5.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Jennie Kim</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme2/theme6.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Jisoo</span>
            </li>

          </ul>
        </div>
        <div class="theme-modal__body-group">
          <span class="theme-modal__body-group-headding js__main-color">Màu tối</span>
          <ul class="theme-modal__body-group-list">
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme1.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Tối</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme2.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Tím</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme3.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Xanh đậm</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme4.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Xanh biển</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme5.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Xanh lá</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme6.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Nâu</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme7.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Hồng</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme3/theme8.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Đỏ</span>
            </li>

          </ul>
        </div>
        <div class="theme-modal__body-group">
          <span class="theme-modal__body-group-headding js__main-color">Màu sáng</span>
          <ul class="theme-modal__body-group-list">
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme4/theme1.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Sáng</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme4/theme2.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Xám</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme4/theme3.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Xanh nhạt</span>
            </li>
            <li class="theme-modal__body-group-item js-theme-item">
              <div class="theme-modal__body-group-item-img-wrapper">
                <div class="theme-modal__body-group-item-img"
                     style="background-image: url(/assets/img/background-theme/modalThemes/modalTheme4/theme4.jpg)"></div>
              </div>
              <span class="theme-modal__body-group-item-name js__main-color">Hồng cánh sen</span>
            </li>
          </ul>
        </div>

      </div>


    </div>
  </div>
  <!-- BEGIN NEXT-SONG -->
  <div class="main-nextsong mobile-tablet-hiden">
    <div class="nextsong__option">
      <div class="nextsong__option-wrapper">
        <!-- nextsong__option-wrapper--active -->
        <div class="nextsong__option-wrapper-listplay nextsong__option-wrapper--active js__toast js__main-color">
          Danh sách phát
        </div>
        <div class="nextsong__option-wrapper-history js__sub-color js__toast">Nghe gần đây</div>
      </div>
      <div class="nextsong__option-alarm laptop-hiden js__toast">
        <i class="fas fa-stopwatch js__main-color"></i>
      </div>
      <div class="nextsong__option-more laptop-hiden js__toast">
        <i class="fas fa-ellipsis-h js__main-color"></i>
      </div>
    </div>
    <div class="nextsong__box">
      <div class="nextsong__fist">

      </div>
      <div class="nextsong__last">
        <h3 class="nextsong__last-heading js__main-color">Tiếp theo</h3>
        <ul class="nextsong__last-list">

        </ul>
      </div>
    </div>
  </div>
  <!-- END NEXT-SONG -->


</div>
</body>
</html>