<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="admin(viewAdmin)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ZingMp3 - Management</title>
  <!-- Favicon -->
  <link rel="shortcut icon"  th:href="@{|/assets/admin/images/favicon.ico|}" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"  th:href="@{|/assets/admin/css/bootstrap.min.css|}">
  <!-- Typography CSS -->
  <link rel="stylesheet"  th:href="@{|/assets/admin/css/typography.css|}">
  <!-- Style CSS -->
  <link rel="stylesheet"  th:href="@{|/assets/admin/css/style.css|}">
  <!-- Responsive CSS -->
  <link rel="stylesheet"  th:href="@{|/assets/admin/css/responsive.css|}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script  src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div id="loading">
  <div id="loading-center">
  </div>
</div>
<div class="wrapper">
  <aside th:replace="~{/common/_sidebar :: adminSideBar}"></aside>
  <div th:replace="~{/common/_header :: adminHeader}"></div>
  <main th:replace="${viewAdmin}"></main>
  <div th:replace="~{/common/_footer :: footer}"></div>
</div>

<!-- color-customizer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script  th:src="@{|/assets/admin/js/jquery.min.js|}"></script>
<script th:src="@{|/assets/admin/js/popper.min.js|}"></script>
<script th:src="@{|/assets/admin/js/bootstrap.min.js|}"></script>
<!-- Appear JavaScript -->
<script th:src="@{|/assets/admin/js/jquery.appear.js|}"></script>
<!-- Countdown JavaScript -->
<script th:src="@{|/assets/admin/js/countdown.min.js|}"></script>
<!-- Counterup JavaScript -->
<script th:src="@{|/assets/admin/js/waypoints.min.js|}"></script>
<script th:src="@{|/assets/admin/js/jquery.counterup.min.js|}"></script>
<!-- Wow JavaScript -->
<script th:src="@{|/assets/admin/js/wow.min.js|}"></script>
<!-- Apexcharts JavaScript -->
<script th:src="@{|/assets/admin/js/apexcharts.js|}"></script>
<!-- Slick JavaScript -->
<!--<script th:src="@{|/assets/admin/js/slick.min.js|}"></script>-->

<!-- JavaScript của Slick -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script th:src="@{|/assets/admin/js/select2.min.js|}"></script>
<!-- Owl Carousel JavaScript -->
<script th:src="@{|/assets/admin/js/owl.carousel.min.js|}"></script>
<!-- Magnific Popup JavaScript -->
<script th:src="@{|/assets/admin/js/jquery.magnific-popup.min.js|}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script th:src="@{|/assets/admin/js/smooth-scrollbar.js|}"></script>
<!-- lottie JavaScript -->
<script th:src="@{|/assets/admin/js/lottie.js|}"></script>
<!-- am core JavaScript -->
<script th:src="@{|/assets/admin/js/core.js|}"></script>
<!-- am charts JavaScript -->
<script th:src="@{|/assets/admin/js/charts.js|}"></script>
<!-- am animated JavaScript -->
<script th:src="@{|/assets/admin/js/animated.js|}"></script>
<!-- am kelly JavaScript -->
<script th:src="@{|/assets/admin/js/kelly.js|}"></script>
<!-- am maps JavaScript -->
<script th:src="@{|/assets/admin/js/maps.js|}"></script>
<!-- am worldLow JavaScript -->
<script th:src="@{|/assets/admin/js/worldLow.js|}"></script>
<!-- Raphael-min JavaScript -->
<script th:src="@{|/assets/admin/js/raphael-min.js|}"></script>
<!-- Morris JavaScript -->
<script th:src="@{|/assets/admin/js/morris.js|}"></script>
<!-- Morris min JavaScript -->
<script th:src="@{|/assets/admin/js/morris.min.js|}"></script>
<!-- Flatpicker Js -->
<script th:src="@{|/assets/admin/js/flatpickr.js|}"></script>
<!-- Style Customizer -->
<script th:src="@{|/assets/admin/js/style-customizer.js|}"></script>
<!-- Chart Custom JavaScript -->
<script th:src="@{|/assets/admin/js/chart-custom.js|}"></script>
<!-- Music js -->
<script th:src="@{|/assets/admin/js/custom.js|}"></script>
<script th:src="@{|/assets/javascript/UI/adminUI.js|}"></script>
<script th:src="@{|/assets/javascript/CRUD/song_CRUD.js|}"></script>
<script th:src="@{|/assets/javascript/CRUD/singer_CRUD.js|}"></script>
<script th:src="@{|/assets/javascript/api/songAPI.js|}"></script>
<script th:src="@{|/assets/javascript/api/singerAPI.js|}"></script>
<script th:src="@{|/assets/javascript/api/general.js|}"></script>
<script th:src="@{|/assets/admin/js/dateUtil.js|}"></script>
<script th:src="@{|/assets/admin/js/pageLoader.js|}"></script>
<script th:src="@{|/assets/admin/js/data.js|}"></script>
<script th:src="@{|/assets/javascript/util/firebase.js|}"></script>
<script th:src="@{|/assets/javascript/util/swalAlert2.js|}"></script>
<script th:src="@{|/assets/admin/js/music-player.js|}"></script>

</body>
</html>